<h1>Trade list summary (100 limit)</h1>


<h2> Latest (<%=@opt_trades.count%>/100) options trades </h2>

	<%= date_select "report", "start_date", :default => -1.days.from_now %>
	to <%= date_select "report", "end_date", :default => 0.days.from_now %>
</p>

<table id ='trade_table'>
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>

			<th>DTCC Id</th>
			<th>TimeStamp</th>
			<th>UND</th>match ':controller/:action/:id'
			
			<th>ACC</th>
			<th>UND Notional</th>
			<th>ACC Notional</th>
			<th>Strike</th>
			<th>Sub Type</th>
			<th>Expiry</th>
			<th>PAY</th>
			<th>Prem</th>
			<th>Trade Type</th>
		</tr>
	</thead>

	<tbody>
		<% @opt_trades.each do |trade| %>
		<tr>
			<td><%= link_to 'Show', trade %></td>
			<td><%= link_to 'Edit', edit_trade_path(trade) %></td>
			<td><%= link_to 'Destroy', trade, method: :delete, data: { confirm: 'Are you sure?' } %></td>

			<td><%= trade.dtcc_id  %> </td>
			<td><%= Time.parse(trade.time_stamp).strftime( '%Y %b %d %H:%M:%S' ) if trade.time_stamp  %> </td>
			<td><%= trade.und %> </td>
			<td><%= trade.acc %> </td>
			<td><%= number_with_precision(trade.und_not, :precision => 0, :delimiter => ',') %> </td>
			<td><%= number_with_precision(trade.acc_not, :precision => 0, :delimiter => ',')  %> </td>
			<td><%= trade.strike %> </td>
			<td><%= trade.type %> </td>
			<td><%= trade.expiry.strftime( '%d %b %y' ) if trade.expiry %> </td>
			<td><%= trade.prem_ccy %> </td>
			<td><%= number_with_precision(trade.prem, :precision => 0, :delimiter => ',') %> </td>			
			<td><%= trade.taxonomy %> </td>
		</tr>
		<% end %>
	</tbody>
</table>

<h2> Latest (<%=@sig_trades.count%>/100) large(> <%=number_with_precision(BIG_NUM, :precision => 0, :delimiter => ',')%> ) trades </h2>

<table id ='trade_table'>
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>

			<th>DTCC Id</th>
			<th>TimeStamp</th>
			<th>UND</th>
			<th>ACC</th>
			<th>UND Notional</th>
			<th>ACC Notional</th>
			<th>Strike</th>
			<th>Sub Type</th>
			<th>Expiry</th>
			<th>PAY</th>
			<th>Prem</th>
			<th>Trade Type</th>
		</tr>
	</thead>

	<tbody>
		<% @sig_trades.each do |trade| %>
		<tr>
			<td><%= link_to 'Show', trade %></td>
			<td><%= link_to 'Edit', edit_trade_path(trade) %></td>
			<td><%= link_to 'Destroy', trade, method: :delete, data: { confirm: 'Are you sure?' } %></td>

			<td><%= trade.dtcc_id  %> </td>
			<td><%= Time.parse(trade.time_stamp).strftime( '%Y %b %d %H:%M:%S' ) if trade.time_stamp  %> </td>
			<td><%= trade.und %> </td>
			<td><%= trade.acc %> </td>
			<td><%= number_with_precision(trade.und_not, :precision => 0, :delimiter => ',') %> </td>
			<td><%= number_with_precision(trade.acc_not, :precision => 0, :delimiter => ',')  %> </td>
			<td><%= trade.strike %> </td>
			<td><%= trade.type %> </td>
			<td><%= trade.expiry.strftime( '%d %b %y' ) if trade.expiry %> </td>
			<td><%= trade.prem_ccy %> </td>
			<td><%= number_with_precision(trade.prem, :precision => 0, :delimiter => ',') %> </td>			
			<td><%= trade.taxonomy %> </td>
		</tr>
		<% end %>
	</tbody>
</table>
<br />

<h2> Latest (<%=@trades.count%>/100) all trades </h2>
<table id ='trade_table'>
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>

			<th>DTCC Id</th>
			<th>TimeStamp</th>
			<th>UND</th>
			<th>ACC</th>
			<th>UND Notional</th>
			<th>ACC Notional</th>
			<th>Strike</th>
			<th>Sub Type</th>
			<th>Expiry</th>
			<th>PAY</th>
			<th>Prem</th>
			<th>Trade Type</th>
		</tr>
	</thead>

	<tbody>
		<% @trades.each do |trade| %>
		<tr>
			<td><%= link_to 'Show', trade %></td>
			<td><%= link_to 'Edit', edit_trade_path(trade) %></td>
			<td><%= link_to 'Destroy', trade, method: :delete, data: { confirm: 'Are you sure?' } %></td>

			<td><%= trade.dtcc_id  %> </td>
			<td><%= Time.parse(trade.time_stamp).strftime( '%Y %b %d %H:%M:%S' ) if trade.time_stamp  %> </td>
			<td><%= trade.und %> </td>
			<td><%= trade.acc %> </td>
			<td><%= number_with_precision(trade.und_not, :precision => 0, :delimiter => ',') %> </td>
			<td><%= number_with_precision(trade.acc_not, :precision => 0, :delimiter => ',')  %> </td>
			<td><%= trade.strike %> </td>
			<td><%= trade.type %> </td>
			<td><%= trade.expiry.strftime( '%d %b %y' ) if trade.expiry %> </td>
			<td><%= trade.prem_ccy %> </td>
			<td><%= number_with_precision(trade.prem, :precision => 0, :delimiter => ',') %> </td>			
			<td><%= trade.taxonomy %> </td>
		</tr>
		<% end %>
	</tbody>
</table>

<br />



<%= link_to 'New Trade', new_trade_path %>
