<h1>Trade list summary (100 limit)</h1>

<h2>Trade notional summary<h2>
<table id ='trade_table'>
	<thead>
		<tr>
			<th> Pair</th>
			<th>USD Equiv Notional</th>
		</tr>
	</thead>
	<tbody>
		<% @pairs_hash.sort_by{|p,n| n}.reverse.each do |p_array|%>
		<tr>
			<td><%= p_array[0] %></td>
			<td><%= number_with_precision(p_array[1], :precision => 0, :delimiter => ',')%> </td>
		</tr>
		<% end %>
	</tbody>
</table>


<h2> Latest (100/<%=@opt_trades.count%>) options trades </h2>

	<%= date_select "report", "start_date", :default => -1.days.from_now %>
	to <%= date_select "report", "end_date", :default => 0.days.from_now %>
</p>

<table id ='trade_table'>
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>

			<th>DTCC Id</th>
			<th>TimeStamp</th>
			<th>UND</th>
			<th>ACC</th>
			<th>UND Notional</th>
			<th>ACC Notional</th>
			<th>USD Equiv Notional</th>
			<th>Strike</th>
			<th>Sub Type</th>
			<th>Expiry</th>
			<th>PAY</th>
			<th>Prem</th>
			<th>Trade Type</th>
			<th>Spot Ref</th>
		</tr>
	</thead>

	<tbody>
		<% @opt_trades.each do |trade| %>
		<tr>
			<td><%= link_to 'Show', trade %></td>
			<td><%= link_to 'Edit', edit_trade_path(trade) %></td>
			<td><%= link_to 'Destroy', trade, method: :delete, data: { confirm: 'Are you sure?' } %></td>

			<td><%= trade.dtcc_id  %> </td>
			<% ts = Time.parse(trade.time_stamp["d"]+" "+trade.time_stamp["t"]) if trade.time_stamp %>
			<td><%= ts.strftime( '%Y %b %d %H:%M:%S' ) if trade.time_stamp  %> </td>
			<td><%= trade.und %> </td>
			<td><%= trade.acc %> </td>
			<td><%= number_with_precision(trade.und_not, :precision => 0, :delimiter => ',') %> </td>
			<td><%= number_with_precision(trade.acc_not, :precision => 0, :delimiter => ',')  %> </td>
			<td><%= number_with_precision(trade.m_usd_equiv_not, :precision => 0, :delimiter => ',')  %> </td>
			<td><%= trade.strike %> </td>
			<td><%= trade.type %> </td>
			<% ts = Time.parse(trade.expiry.to_s) if trade.expiry %>
			<td><%= ts.strftime( '%d %b %Y' ) if trade.expiry  %> </td>
			<td><%= trade.prem_ccy %> </td>
			<td><%= number_with_precision(trade.prem, :precision => 0, :delimiter => ',') %> </td>			
			<td><%= trade.taxonomy %> </td>
			<td><%= trade.m_spot_ref %> </td>
		</tr>
		<% end %>
	</tbody>
</table>

<h2> Top 100 large trades </h2>

<table id ='trade_table'>
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>

			<th>DTCC Id</th>
			<th>TimeStamp</th>
			<th>UND</th>
			<th>ACC</th>
			<th>UND Notional</th>
			<th>ACC Notional</th>
			<th>USD Equiv Notional</th>
			<th>Strike</th>
			<th>Sub Type</th>
			<th>Expiry</th>
			<th>PAY</th>
			<th>Prem</th>
			<th>Trade Type</th>
			<th>Spot Ref</th>
		</tr>
	</thead>

	<tbody>
		<% @sig_trades.each do |trade| %>
		<tr>
			<td><%= link_to 'Show', trade %></td>
			<td><%= link_to 'Edit', edit_trade_path(trade) %></td>
			<td><%= link_to 'Destroy', trade, method: :delete, data: { confirm: 'Are you sure?' } %></td>

			<td><%= trade.dtcc_id  %> </td>
			<% ts = Time.parse(trade.time_stamp.to_s) if trade.time_stamp %>
			<td><%= ts.strftime( '%Y %b %d %H:%M:%S' ) if trade.time_stamp  %> </td>
			<td><%= trade.und %> </td>
			<td><%= trade.acc %> </td>
			<td><%= number_with_precision(trade.und_not, :precision => 0, :delimiter => ',') %> </td>
			<td><%= number_with_precision(trade.acc_not, :precision => 0, :delimiter => ',')  %> </td>
			<td><%= number_with_precision(trade.m_usd_equiv_not, :precision => 0, :delimiter => ',')  %> </td>
			<td><%= trade.strike %> </td>
			<td><%= trade.type %> </td>
			<% ts = Time.parse(trade.expiry.to_s) if trade.expiry %>
			<td><%= ts.strftime( '%d %b %Y' ) if trade.expiry  %> </td>
			<td><%= trade.prem_ccy %> </td>
			<td><%= number_with_precision(trade.prem, :precision => 0, :delimiter => ',') %> </td>			
			<td><%= trade.taxonomy %> </td>
			<td><%= trade.m_spot_ref %> </td>
		</tr>
		<% end %>
	</tbody>
</table>
<br />

<h2> Latest (100 of <%=@trades.count%>) all trades </h2>
<table id ='trade_table'>
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>

			<th>DTCC Id</th>
			<th>TimeStamp</th>
			<th>UND</th>
			<th>ACC</th>
			<th>UND Notional</th>
			<th>ACC Notional</th>
			<th>USD Equiv Notional</th>
			<th>Strike</th>
			<th>Sub Type</th>
			<th>Expiry</th>
			<th>PAY</th>
			<th>Prem</th>
			<th>Trade Type</th>
			<th>Spot Ref</th>
		</tr>
	</thead>

	<tbody>
		<% @trades.each do |trade| %>
		<tr>
			<td><%= link_to 'Show', trade %></td>
			<td><%= link_to 'Edit', edit_trade_path(trade) %></td>
			<td><%= link_to 'Destroy', trade, method: :delete, data: { confirm: 'Are you sure?' } %></td>

			<td><%= trade.dtcc_id  %> </td>
			<% ts = Time.parse(trade.time_stamp.to_s) if trade.time_stamp %>
			<td><%= ts.strftime( '%Y %b %d %H:%M:%S' ) if trade.time_stamp  %> </td>
			<td><%= trade.und %> </td>
			<td><%= trade.acc %> </td>
			<td><%= number_with_precision(trade.und_not, :precision => 0, :delimiter => ',') %> </td>
			<td><%= number_with_precision(trade.acc_not, :precision => 0, :delimiter => ',')  %> </td>
			<td><%= number_with_precision(trade.m_usd_equiv_not, :precision => 0, :delimiter => ',')  %> </td>
			<td><%= trade.strike %> </td>
			<td><%= trade.type %> </td>
			<% ts = Time.parse(trade.expiry.to_s) if trade.expiry %>
			<td><%= ts.strftime( '%d %b %Y' ) if trade.expiry  %> </td>
			<td><%= trade.prem_ccy %> </td>
			<td><%= number_with_precision(trade.prem, :precision => 0, :delimiter => ',') %> </td>			
			<td><%= trade.taxonomy %> </td>
			<td><%= trade.m_spot_ref %> </td>
		</tr>
		<% end %>
	</tbody>
</table>

<br />



<%= link_to 'New Trade', new_trade_path %>
