<h1>Trade list by pair summary (100 limit)</h1>

<h2> Most recent <%=params[:pair]%> trades > $25mio equiv </h2>
<table id ='trade_table'>
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>

			<th>DTCC Id</th>
			<th>TimeStamp</th>
			<th>UND</th>
			<th>ACC</th>
			<th>UND Notional</th>
			<th>ACC Notional</th>
			<th>USD Equiv Notional</th>
			<th>Strike</th>
			<th>Sub Type</th>
			<th>Expiry</th>
			<th>PAY</th>
			<th>Prem</th>
			<th>Trade Type</th>
			<th>Spot Ref</th>
		</tr>
	</thead>

	<tbody>
		<% @trades.each do |trade| %>
		<tr>
			<td><%= link_to 'Show', trade %></td>
			<td><%= link_to 'Edit', edit_trade_path(trade) %></td>
			<td><%= link_to 'Destroy', trade, method: :delete, data: { confirm: 'Are you sure?' } %></td>

			<td><%= trade.dtcc_id  %> </td>
			<% ts = Time.parse(trade.time_stamp["d"]+" "+trade.time_stamp["t"]) if trade.time_stamp %>
			<td><%= ts.strftime( '%Y %b %d %H:%M:%S' ) if trade.time_stamp  %> </td>
			<td><%= trade.und %> </td>
			<td><%= trade.acc %> </td>
			<td><%= number_with_precision(trade.und_not, :precision => 0, :delimiter => ',') %> </td>
			<td><%= number_with_precision(trade.acc_not, :precision => 0, :delimiter => ',')  %> </td>
			<td><%= number_with_precision(trade.m_usd_equiv_not, :precision => 0, :delimiter => ',')  %> </td>
			<td><%= trade.strike %> </td>
			<td><%= trade.type %> </td>
			<% ts = Time.parse(trade.expiry.to_s) if trade.expiry %>
			<td><%= ts.strftime( '%d %b %Y' ) if trade.expiry  %> </td>
			<td><%= trade.prem_ccy %> </td>
			<td><%= number_with_precision(trade.prem, :precision => 0, :delimiter => ',') %> </td>			
			<td><%= trade.taxonomy %> </td>
			<td><%= trade.m_spot_ref %> </td>
		</tr>
		<% end %>
	</tbody>
</table>
<br />


<%= link_to 'New Trade', new_trade_path %>
